body {
    background-color: #f1f1f1;
}

ul {
    list-style: square;
    line-height: 30px;
}

a {
    color:#0ba7c6;
    text-decoration: none;
    padding: 20px;
}

th, td {
    padding: 10px;
}

footer {
    text-align: center;    
}
.container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.container-bottom {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  vertical-align:middle;
}

.music-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .music-item {
    max-width: 70%;
    max-height: 100%; 
    overflow: hidden; 
  }

  .music-item img {
    width: 100%;
    height: auto;
  }

.header-container {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.header-title {
  margin: 0;
  font-size: 24px;
}


  /* 
  
  FORMS
  
  */


.return {
  display: inline-block;
  padding: 14px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.return:hover {
  background-color: #45a049;
}

.form-container {
  width: 400px;
  margin: auto;
}

.form-container input[type="text"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container label {
  font-weight: bold;
}

.form-container input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container input[type="submit"]:hover {
  background-color: #45a049;
}

.form-container .button-container {
  text-align: center;
}

.form-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.file-input-container input[type="file"] {
  display: none;
}
.file-input-container label {
  display: block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.file-input-container img {
  width: 100px; 
  height: auto; 
  display: block;
  margin: 0 auto; 
  margin-bottom: 10px; 
}

